@page

<div class="text-center">
    <h6 class="display-6">Thanks</h6>
    <p>Thanks for placing order #@OrderId</p>
    <p>We will contact you shortly</p>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Return to main page</a>
</div>

@functions
{
    [BindProperty(SupportsGet = true)]
    public String? OrderId { get; set; }
}